<header class="header">
  <div
    class="header-content flex items-center justify-between px-24 py-16 mx-auto"
  >
    <a routerLink="/" class="logo flex items-center gap-8">
      Rick and Morty Explorer
    </a>
    <nav class="flex items-center gap-16" aria-label="Main navigation">
      <a
        routerLink="/search"
        class="nav-link flex items-center gap-4 font-medium"
      >
        <span>Search</span>
      </a>
      <a
        routerLink="/favorites"
        class="nav-link flex items-center gap-4 font-medium"
      >
        <span>Favorites</span>
      </a>
      <theme-toggle />
    </nav>
  </div>
</header>
